.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-products-1 {
  height: auto;
  margin: 40px auto 40px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  grid-gap: 0px 0px;
  min-height: 520px;
  grid-auto-columns: 50%;
}

.u-section-1 .u-repeater-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  height: 301px;
  margin: 0 30px;
}

.u-section-1 .u-text-1 {
  margin: 20px 0 0 60px;
}

.u-section-1 .u-product-price-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-2 {
  height: 301px;
  margin: 0 30px;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0 60px;
}

.u-section-1 .u-product-price-2 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-1 .u-products-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }

  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1066px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    grid-auto-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 506px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 506px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 365px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 365px;
    margin-right: initial;
    margin-left: initial;
  }
}